*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'outfit';
    background: linear-gradient(#ffdad5, #fff7f9);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}

.contact-left-title h2{
    font-weight: 600px;
    color: #a363aa;
    font-size: 40px;
    margin-top: 5px;
}

.contact-left-title hr{
    border: none;
    width: 150px;
    height: 5px;
    background: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-control input, textarea{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.form-control textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.form-control input:focus,textarea:focus{
    border: 2px solid #f758ef;
}

.form-control::placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap:10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #f06883, hsl(268, 70%, 60%));
    cursor: pointer;
    transition: all 0.2s ease-in;

}

.contact-left button:hover{
    background: #f1a0cb;
    transition: all 0.2s ease-out;
}


.contact-right img{
width: 450px;
height: 260px;
border-radius: 10px;
background: none;
}

@media (max-width:800px) {
    .form-control{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}